<form action="#" method="get" accept-charset="utf-8">
	<label for="username">
		<input type="text" name="username" autofocus="autofocus" placeholder="username" />
	</label>
	<label for="password">
		<input type="text" name="password" placeholder="password" />
	</label>
	<input type="submit" name="submit" value="submit" />
</form>
