html, body {
	font: 14px Helvetica, Arial, sans-serif;
	margin: 0px;
}

#shell {
	width: 900px;
	margin: 0 auto;
}

.graph-container, #table-container {
	width: 880px
}

.graph-container {
	height: 400px;
}

a {
	text-decoration: none;
}

table.results-list {
	margin-top: 20px;
	width: 100%;
}
table.results-list thead tr {
	height: 40px;
}
th.thin {
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
}

.team-picker {
	width: 200px;
}
.team-picker.left {
	float: left;
}
.team-picker.right {
	float: right;
}
div.versus {
	height: 50px;
	font-size: 30px;
}
div.versus .divider {
	width: 100px;
	float: left;
	text-align: center;
	color: gray;
}
div.versus .team-name.left {
	text-align: right;
	float: left;
	width: 400px;
}
div.versus .team-name.right {
	text-align: left;
	float: left;
	width: 400px;
}

.team-picker .player-picker {
	display: block;
	width: 180px;
	text-align: center;
	padding: 10px;
}

a.button.submit {
	display: block;
	font-size: 30px;
	margin: 50px auto;
	width: 200px;
	text-align: center;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		to(#b5b5b5));
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

.button.picked {
	color: #353535;
	background: -moz-linear-gradient(
		top,
		#5e5e5e 0%,
		#adadad);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#5e5e5e),
		to(#adadad));
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(200,200,200,1);
}

